/*author: SLavik programmer sshnigtwolf*/
@font-face {
    font-family: 'Butterfun';
    src: url('fonts/Butterfun.ttf');
}
/*=======================================*/
* {padding: 0; margin: 0; color: white; font-family: Arial;}
body {
	/*background: black;*/
}
header {
	background: url('images/1.jpg');
	overflow: hidden;
}
.logo {border-bottom: 3px  solid #fff; background-color:  #7d7d7d; }
.logo h1 { text-align: center; color: white; font-family: Butterfun; font-weight: 100;  font-size: 50px;}

.content-head { 
    background-color: rgb(46 47 48 / 76%);
}
.wrapper-head { 
	margin: 0 auto;
	padding: 20px;
	background-color: #747474d9;
	width: 70%;
}
.block-head, .description-web { display: inline-block; }
.block-head {
	border: 5px solid black;
	border-radius: 20px;
	vertical-align: top;
	background: url('images/header/f4.jpg');
	background-size: cover;
	height: 300px;
	width: 300px;
}
.description-web { width: 60%; margin-left: 20px; height: 300px; }
.description-web h2 { border-bottom: 1px solid silver; padding-bottom: 10px;}
.description-web p { margin: 10px 0; }
.box-next { border-top: 1px solid silver; }
.more a { border-radius: 5px; border: 1px solid black; display: inline; padding: 10px; color: black;}
.more a:hover { background-color: orange; border: 1px solid white; color: white;}

/*body - content*/
.wrapper { background-color: silver; }
.title-box {
	padding: 5px 0;
	text-align: center;
    background-color: #222831;
}
.title-box h3 { color: silver; }
.wrapp-box {
	background-color: silver;
	text-align: center;
    margin: 20px auto;
}
.box-items {
    padding: 10px 0; 
	background-color: #393e46;
	margin-top: 0px;
	text-align: center;
}
.box-items p { color: silver; }
.b1, .b2 {
	border: 2px solid #7c83fd;
	border-radius: 20px;
	vertical-align: top;
    display: inline-block; 
	margin: 1px;
	width: 200px;
	height: 200px;
}

.b1 { background: url('images/header/m1.jpg'); 	background-size: cover; }
.b2 { background: url('images/header/m2.jpg'); 	background-size: cover; }
footer {
	
	background: url('images/header/b1.jpg');
	background-size:cover;
	height: 300px;
	z-index: 5;
}
.footer-tiket {
	background-color: #ffffff2e;
	z-index: 10;
	height: 300px;
	width: 100%;

}


